.meetings_container {
    .list_view ul li {
        height: 75px;
    }

    .meeting_list_title {
        width: 40% !important;

    }

    .meeting_list_description {
        width: 50% !important;
    }
    
    .icon_column_action {
        width: 10%;
    }
}
