@import './variables.scss';

@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Bold.otf')
}

body {
    font-family: 'Montserrat';
    height: 100vh;
}

button {
    box-shadow: none !important;
}

.background_content {
    height: 100vh;
    width: 100%;
    background-image: url('../assets/condominio.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    margin: 40px;
}

.header_content {
    h1 {
        border-bottom: solid 5px $yellow;
    }
}

.field_error {
    display: flex;
    align-items: initial;
    color: $red !important;
    font-size: 11px;
}

.list_view {
    
    ul {
        border: none;
    
        li {
            height: 55px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            border-bottom: none !important;
            border-radius: 49px;
            box-shadow: 0px 3px 6px $shadow-color;
            margin-bottom: 10px !important;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            font: normal normal normal 1.1vw/1.2vw Helvetica Neue;
            letter-spacing: 0px;
            padding: 5px 20px !important;
          
            &:hover {
                box-shadow: 0px 5px 8px $shadow-color;
            }
            
            &.list_header {
                background: none;
                border: none;
                box-shadow: none;
                font-weight: bold;

                &:hover {
                    box-shadow: none
                }
            }
    
            span {
                width: 22.5%;
                margin: auto 0px;
                text-transform: none;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;

                &.icon {
                    width: 10%;
                }

                svg {
                    font-size: 1.4vw;
                    cursor: pointer;
                }

            }
        }
    }
}

.red_button {
    background-color: $red;
    color: white;

    &:hover {
        background-color: #e8374eeb;
    }
}

.complaint_list_status {
    display: flex !important;
    align-items: center;
    padding-left: 20px;
  
    .complaint_status_notified {
        color: rgb(14, 103, 14);
    }

    .complaint_status_analysis {
        color: #f4c430;
    }

    .complaint_status_disapproved {
        color: rgb(214, 11, 11);
    }
}

.message_not_result {
    color: $gray;
}

.display_none {
    display: none;
}

.button_register_content {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    
    a button {
        min-width: 10px;
        max-width: 300px;
        display: flex;
        align-items: center;
        
        svg {
            margin: 5px;
        }
    }
}

.modal_actions_button_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
    button {
        margin: 5px;
    }
}

.button_content_open_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: none;
    font-size: 85%;
    white-space: nowrap;

    svg {
        margin-right: 5px;
    }
}

@media only screen and (min-width: $viewport_desktop) {
    .list_view {

        ul {
            li {
                font: normal normal normal 16px/18px Helvetica Neue;

                span {
                    svg {
                        font-size: 22px;
                    }

                    > div {
                        font: normal normal normal 16px/18px Helvetica Neue;
                    }
                }
                
                button {
                    font: normal normal normal 16px/18px Helvetica Neue !important;
                }
            }

            li:first-child {
                font: normal normal bold 16px/18px Helvetica Neue;
            }
        }
    }
}