@import './variables.scss';

@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Bold.otf')
}

body {
    font-family: 'Montserrat';
    height: 100vh;
}

.content {
    margin: 30px;
}

.content_header {
    h1 {
        border-bottom: solid 5px $yellow;
    }
}

.field_error {
    display: flex;
    align-items: initial;
    color: $red;
    font-size: 11px;
}