@import '../../styles/variables.scss';

.content_residents {

    .list_residents {

        ul {
            border: none;
        
            li {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              border-bottom: none !important;
              border-radius: 49px;
              box-shadow: 0px 3px 6px $shadow-color;
              margin-bottom: 10px !important;
              background: #FFFFFF 0% 0% no-repeat padding-box;
              font: normal normal normal 1.1vw/1.2vw Helvetica Neue;
              letter-spacing: 0px;
              padding: 5px 20px !important;
              
                &:hover {
                    box-shadow: 0px 5px 8px $shadow-color;
                }
                
                &.list_header {
                    border: none;
                    box-shadow: none;
                    font-weight: bold;

                    &:hover {
                        box-shadow: none
                    }
                }
        
                span {
                    width: 22.5%;
                    margin: auto 0px;
                    text-transform: none;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 10px;

                    &.icon {
                        width: 10%;
                    }

                    svg {
                        font-size: 1.4vw;
                        cursor: pointer;
                    }

                }
            }
        }
    }
}