@import '../../../../styles/variables.scss';

.button_delete_resident_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px; 
}