@import '../../../../styles/variables.scss';

.card_content_register_verifys {
    background-color: rgba(255, 255, 255, 0.891);
    z-index: 1000;
    opacity: none;
    height: 600px;
    border-radius: 8px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    width: 50%;

    .logo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 70%;
        }
    }

    .fields_content_verifys_register {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        div {
            margin-top: 20px;
        }
    
        input {
            width: 350px !important;
            margin: 0;

            &:focus{
                box-shadow: 0 0 0 0 !important;
            }
        }
    
        .actions {
            margin-top: 30px;
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
            
            .button_to_enter, a {
                margin: 5px;
            }
    
            a {
                text-decoration: underline;
                color: #bab4b4;
            }
    
            .button_to_enter {
                background-color: $blue !important;
                width: 200px;
                font-weight: bold;
            }
        }
    }

}

