@import '../../styles/variables.scss';

h1 {

    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
        margin-left: 10px;
    }
    
    .subtitle {
        font-size: 16px;
        color: #a8a8a8;
        
    }
}

.content_register_resident {
    margin: 20px;
    padding-top: 10px;
    display: flex;
    
    .person_content{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 90%;
        }
    }

    .fields_content {
        flex: 2;

        .select_residence {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

.residents_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    button {
        width: 400px;
        font-weight: bold;
        height: 45px;
    }

}