@import '../../styles/variables.scss';

.profile_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .image_content {
        flex: 20%;

        .contacts_content {
            padding-top: 30px;
            font-size: 20px;
            color: $gray;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .itens_contact_content {
                padding-top: 15px;
                display: flex;
                justify-content: space-between;
            }
            
            .icon_whats {
                color: #89d07e;
            }

            .icon_email {
                color: $blue;
            }

            svg {
                width: 4em;
                height: 40px;

            }

        }
        
    }

    .profile_form_content {
        flex: 80%;

        .button_content {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                width: 300px;
                height: 40px;
            }
        }
    }
}