@import '../../styles/variables.scss';

.modal.open {
    border-radius: 5px;

    .modal-content div{
        color: $gray;
    }
}

.modal-footer {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 10px !important;
    margin-right: 10px;
    background-color: transparent !important;

    button {
        position: absolute;
        right: 10px;
        width: 25px;
        height: 25px !important;
        padding: 0px;
        color: #000;
        background: transparent !important;
        box-shadow: unset;

        svg {
            width: 2em;
            height: 50px;
        }

        &:hover {
            box-shadow: unset;
        }
    }
}

.modal.open.delete {
    border: solid 2px $red;

    .confirm_button {
        background-color: $red;
        color: white;

        &:hover {
            background-color: #e8374eeb;
        }
    }
}

.modal.open.update, .modal.open.create {
    border: solid 2px $green;

    .confirm_button {
        background-color: $green;
        color: white;

        &:hover {
            background-color: #2ABBAD;
        }
    }
}