@import '../../../../styles/variables.scss';

.form_content {
    flex: 2;
    display: flex;
    flex-direction: column;

    .tittle {
        flex: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        margin-bottom: 10px;
        border-bottom: solid 5px $yellow;
    }

    .person_fields {
        flex: 90%;
        display: flex;
        align-items: center;
        width: 100%;

        .fields {
            width: 100%;

            .actions {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}