@import '../styles/variables.scss';

.sidebar {
  flex: 15%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .sidebar-menu {

    li {
      color: #151515;
      margin: 35px;
      font-weight: bold;
      font-size: 15px;
    }

    li:hover {
      cursor: pointer;
      border-bottom: 4px solid $blue;
    }

    svg {
      width: 30px;
    }
  }
}