.complaint_container {
    .list_view ul li {
        height: 75px;
    
        span {
            width: 30.5% !important;
        }
    
        .complaint_list_text {
            margin: 0;
            width: 70% !important;
        }
    
        .complaint_list_body {
            width: 70% !important;
        }
    }
}

.complaint_description, .complaint_date {
    color: #666666;
}