.guest_list_fields {
    display: flex;
    margin: 20px 0px;
    
    div {
        width: 40% !important;
        margin: 0px 10px !important;
    }

    button {
        width: 20% !important;
        margin: 0px 10px !important;
    }
    
}