.guest_list_fields {
    display: flex;
    margin: 20px 0px;
    
    div {
        width: 40% !important;
        margin: 0px 10px !important;
    }

    button {
        width: 100% !important;
        margin: 0px 10px !important;
    }
}

.guest_list_content {
    display: flex;

    span {
        flex: 33%;
    }

    .guest_list_info_remove {
        display: flex;
        justify-content: end;
    }
}