@import '../../styles/variables.scss';

.complaint_field {
    height: 300px;
    border: solid 2px #D7D7D7;
}

.browser-default {
    border: solid 2px #D7D7D7;
    width: 400px;
}

.complaint_button {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    button {
        width: 400px;
        font-weight: bold;
        height: 45px;
    }
}